.icon-arrow {
  width: 2.67em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-close-menu {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-doc {
  width: 0.82em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-download {
  width: 1.33em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-dropdown {
  width: 1.33em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-frame {
  width: 0.27em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-girl {
  width: 0.87em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo {
  width: 5.2em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Maincharacter {
  width: 0.8em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-man {
  width: 0.93em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
