+b.popup_people(tabindex='-1', role='dialog' data-popup-id="people")
	+e.container_info.ps-init
		div
			+e.wrap
				.col
					+e.IMG.img(src="static/img/team-10.jpg")
				.col
					+e.name Dmitry Katkov
					+e.position Chief Financial Advisor
					+e.social
						+e.A.share-item(href="#!")
							+svg('linkedin')
							span linkedin
		+e.descr
			p В настоящее время является консультантом по развитию в компании Louis Vuitton Moet Henness. Окончил бакалавриат по направлению “Business Administration” в LCC International University. Получил степень магистра по направлению “Shipping Finance” в Plymouth University (Great Britain). Преподавал бакалаврам и аспирантам в университетах Литвы, Латвии, России, Сингапура, Финляндии и Великобритании. Работал финансовым экспертом в банковском секторе.
			p В настоящее время консультирует ряд предприятий по вопросам управления рисками, финансовым вопросам и вопросам отношений с инвесторами.
			p В настоящее время консультирует ряд предприятий по вопросам управления рисками, финансовым вопросам и вопросам отношений с инвесторами.
			p В настоящее время консультирует ряд предприятий по вопросам управления рисками, финансовым вопросам и вопросам отношений с инвесторами.
	+e.BUTTON.close.close-video-btn
		+svg('close-menu')