+b.popup_thanks(tabindex='-1', role='dialog' data-popup-id="thanks")
	+e.container_info
		+b.title_pink-dark спасибо вы подписались
			span на рассылку
		+e.msg
			img(src="static/img/mail.png")
			+e.msg-text Мы оповестим вас, как только будет открыта возможность инвестировать
		+e.BUTTON.close.close-video-btn
			+svg('close-menu')