-
	firstTd = ['Название Токена', 'Что представляет собой', 'Цена токена', 'Стоимость токенов', 'Что дает токен', 'Общее количество токенов', 'Расходы', 'Расходы на управление', 'Минимальная цель', 'Максимальная цель'],
	secondTd = ['WSB', 'Доказательство членства', '$1 (USD)', 'Эквивалентно полученной сумме в $(USD) на момент продажи. После проведения стоимость токена определяет цена на бирже. Для успешных проектов цена, как правило, растет в несколько раз спустя несколько месяцев', 'Право получения прибыли компании. 30% прибыли будет распределено между владельцами токенов. А также, возможность перепродажи токена на бирже по более высокой цене', '20 000 000 WSB', '30% токенов будет зарезервировано для административных расходов', '2,5% от чистой прибыли', '2 000 000 $', '20 000 000 $'];

+b.SECTION.data
	.container.container_large
		+b.title_dark-pink основные
			span данные прo ICo
		.container
			table
				tbody
					each item, index in firstTd
						tr
							td= item
							td= secondTd[index]