+b.SECTION.ico
    .container.container_large
        img(src="static/img/Maincharacter.svg" class="icon-Maincharacter" data-text-anim)
        .container
            .col
                +b.title_pink-dark Стань частью
                    span bittalent
                +btn('sign-popup-js', 'Подписаться на рассылку', '', 'sign')
            .col
                .text(data-text-anim) В мае 2017 года BitTalent планирует провести ICO и продать 20 000 000 WSB. Каждая криптоакция представлена в виде блокчейн-токена, основанного на "умных" контрактах, что позволяет обеспечить стопроцентную прозрачность сбора средств. Первоначально токены продаются участникам за определенную фиксированную цену, после чего токены начинают торговаться на криптобиржах, где их цена может значительно возрасти с течением времени. Также, токены могут быть использованы в платформе, что позволяет пользователям получать бонусы за вклад в развитие и работу по поддержке инфраструктуры