+b.SECTION.money
	.container.container_large
		+b.title_white-pink Мoнетизация
			span прoекта
		.container
			.col
				+e.img-wrap(data-text-anim data-delay="1")
					img(src='static/img/coin1.svg' alt='image')
				+e.title(data-text-anim data-delay="1") Ставки на победителей
				+e.P.text(data-text-anim data-delay="1") Комиссия со ставок 8%. Из них часть в финальный джекпот, выплата победившему участнику и распределяется между проголосовавшими за победившего участника, для поддержания проекта пойдут оставшиеся 5%.
			.col
				+e.img-wrap(data-text-anim data-delay="2")
					img(src='static/img/coin2.svg' alt='image')
				+e.title(data-text-anim data-delay="2") Реклама в сервисе
				+e.P.text(data-text-anim data-delay="2") Прогнозируема аудитория через год после запуска должна превышать 150 000 000.